*{
    margin: 0;
    padding: 0;
    background-color: rgb(57, 57, 245);

    
}

#logo{
    width: 4.5vw;
    height: 11vh;
    margin-left: 95.5vw;
    position: relative;
    top: 20px;
}
nav{
    background-color: rgb(25, 107, 173);
    position: relative;
    bottom: 60px;
}
.enlace
{
    position: relative;
    top: 60px;
    color: white;
    font-size: 30px;
    border: 2px solid gray
}
#imagenbaner{
    width: 35vw;
    height: 30vh;
    position: relative;
    left: 32vw;
    bottom: 25px;
}
#imagen{
    width: 36vw;
    height: 28vh;
    display: inline-flex;
    position: relative;
    left: 200px;
    top: 80px;
}

#final{
    background-color: rgb(25, 107, 173);
    position: relative;
    top: 120px;
    display: block;
    font-size: 30px;
    color: white;
}
h1{
  display: inline-block;
    position:relative;
    left: 43vw;
    bottom: 55px;
    color: darkgray;
        font-size: 40px;
        text-transform: uppercase;
}
h2{
    width: 250px;
    position:relative;
    left: 46.5vw;
    font-size: 30px;
    bottom: 40px;
    text-transform: uppercase;
    color: rgb(15, 224, 196);

}
#about{
    position: relative;
    left:45vw;
}
#contacto{
    position: relative;
    left:44vw;
}
#parrafo1
{
    width: 50vw;
    display:inline-block;
    color: white;
    position: relative;
    top: 60px;
font-size: 35px;}

#informacion{
    display: block;
}

    .enlace{
        font-size: 30px;
        border: 2px solid gray
        
    }
.imagenes{
    width: 300px;
    height: 218px;
    display: inline-block;
    position: relative;
    left: 350px;
    bottom: 20px;

}
.parrafos{
    display: inline-block;
    position: relative;
    bottom: 130px;
    left: 350px;
    color: white;
    font-size: 25px;
    width: 60vw;
    height: 5vh;

    
}
#final2{
    background-color: rgb(25, 107, 173);
    position: relative;
    display: block;
    font-size: 30px;
    color: white;
}
#imagen2{
    width: 35vw;
    height: 40vh;
    position: relative;
    left: 610px;
    bottom: 30px;

}
#parrafo2{
    font-size: 37.6px;
    color: whitesmoke;
    display: inline-block;
    transform: translate(400px,50px);
    width: 61vw;


}
#email{ display: inline-block;
    transform: translate(20vw,10vh);
    font-size: 25px;
    color: white;
    border: 2px solid gray;
    text-transform: uppercase;
    font-size: 36px;
}
#telefono{
    display: inline-block;
    transform: translate(45vw,10vh);
    font-size: 25px;
    color: white;
    border: 2px solid gray;
    text-transform: uppercase;
    font-size: 36px;
    
}
#menu{
    display: inline-block;
}
#tabla{
    position: relative;
    padding: 5px 10px;
    height: 505px;    
    margin-left: 20px;
    font-size: 1rem;

}
#more-information{
    transform: translate(-5vw);

}
#benefits-and-tips{
    transform: translate(-5vw);
    width: 500px
}

 tr, th, td{
    border: 1px white solid;
    
    color: white;
    background-color: black;
    width: 70vw;
    height: 14.3vh;

}
table{
  margin-left: 15vw;
    border: 1px white solid;
    
    color: white;
    background-color: black;
    width: 70vw;
    height: 14.3vh;

}
section{
    display: inline-block;
    
}
.cream{
    display: flex;
    width: 18vw;
    height: 20vh;
    
}

article{
    display: flex;
    border: solid 2px;
    justify-content:center;
    margin: 50px ;
    width: 50vw;
    margin-left: 30vw;
}
ol{
    color: white;
    margin-left: 280px;

    
}
#final1{
    background-color: rgb(25, 107, 173);
    position: relative;
    display: block;
    font-size: 30px;
    color: white;
    top: 9vh;
}
.extrellas{
  width: 200px;
  height: 30px;
  position: relative;
  right: 20px;
  top: 20px;
}
#cierre{
    display: flex;
justify-content: center;  
text-transform: uppercase;
color: white;
margin-left: 150px;}

#lista{
    color: rgb(57, 57, 245);
}
#rafle1{
    width: 850px;
    position:relative;
    left: 26vw;
}